@charset "UTF-8";

/* CSS Document */

@use '../common/variable' as *;

/* --------------------------------------------------

userguide

-------------------------------------------------- */

.topspace {
    margin-top: 2em;
}

.related-file{
	&:last-child{
		margin-bottom: 2em;
	}
}

.sentence-block p {
	margin-bottom: 1.5em;
}

.post-sttl-large {
	text-align: center;
}
