@use 'common/variable' as *;

/* --------------------------------------------------

header

-------------------------------------------------- */

#header a:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

#header {
    width: 100%;
    padding: 1.3em;
    position: relative;
    background: #FFF;
    z-index: 25;

    @include bp {
        padding: 1em;

        &.active-h {
            position: fixed;
        }
    }

    .logo-h {
        a {
            display: block;
            position: absolute;
            top: 2em;
            left: 3%;
            z-index: 5;

            &:hover {
                opacity: 1;
            }

            @include bp {
                width: 20%;
            }

            @include bp {
                width: auto;
                position: static;
            }

            @include bp {
                width: 70%;
            }

            img {
                width: 160px;

                @include bp {
                    width: 100px;
                }
            }
        }
    }

    .btn-skip {
        a {
            color: #FFF;
            font-size: 1.5rem;
            display: block;
            background: $color-base-d01;
            text-decoration: none;
            padding: 0.3em 1em 0.4em;
            border-radius: 2em;
            opacity: 1;
            position: absolute;
            left: 25%;
            top: -50px;
            z-index: 10;

            &:before {
                content: "";
                width: 11px;
                height: 15px;
                display: inline-block;
                background: url(#{$img-co}ico_skip.svg) no-repeat center center/contain;
                margin-right: 0.5em;
                vertical-align: top;
            }

            &:hover {
                background: $color-base;
            }

            &:focus {
                opacity: 1;
                top: 15%;
            }
        }
    }

    &.top-h {
        .btn-skip {
            a {
                left: 10%;
            }
        }
    }

    #navi {
        width: 55%;
        margin: 1em 0 0 auto;
        position: relative;

        ul {
            display: flex;
            justify-content: center;

            li {
                display: flex;
                flex: 1;
                $color-g: #BFBFBF;

                a {
                    color: $color-text;
                    font-size: 1.7rem;
                    width: 100%;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    letter-spacing: 0.1em;
                    white-space: nowrap;
                    transition: all 0.3s;
                    @include fbp(15);
                }
            }
        }
    }

    .wrap-sp-navi {
        display: block;

        @include bp {
            display: none;
        }

        .logo-sp {
            display: none;
        }

        .r-function-block {
            width: 85%;
            color: $color-gray-l01;
            font-size: 1.5rem;
            margin-left: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            z-index: 2;
            @include fbp(13);

            .fontSize {
                margin-right: 1%;
                display: flex;
                align-items: center;

                dt {
                    margin-right: 1em;
                }

                dd {
                    display: flex;

                    a {
                        &.active {
                            color: $color-second;
                            font-weight: 700;
                        }
                    }

                    &:after {
                        content: "／";
                        margin: 0 0.3em;
                        display: inline-block;
                    }

                    &:last-child:after {
                        display: none;
                    }
                }
            }

            .btn-lang {
                margin-right: 1%;
                display: flex;
                align-items: center;

                li {
                    display: flex;

                    a {

                        // color: #FFF;
                        &.active {
                            color: $color-second;
                            font-weight: 700;
                        }
                    }

                    &:after {
                        content: "／";
                        margin: 0 0.3em;
                        display: inline-block;
                    }

                    &:last-child:after {
                        display: none;
                    }
                }
            }

            .btn-search {
                background: #FFF;
                width: 20em;
                margin-left: 2em;

                fieldset {
                    display: flex;
                    border: 1px solid $color-base;

                    legend {
                        display: none;
                    }

                    input {
                        border: none;
                        border-radius: 0;
                        flex: 1;

                        &::placeholder {
                            color: $color-placeholder;
                        }

                        @include bp {
                            &::placeholder {
                                color: rgba(255, 255, 255, 0.5) !important;
                            }
                        }
                    }

                    button {
                        color: #FFF;
                        border-radius: 0;
                        border: none;
                        background: $color-base;
                        letter-spacing: 0.1em;
                        @include hover;

                        &:before {
                            content: "";
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            background: url(#{$img-co}ico_search_w.svg) no-repeat center center/contain;
                            margin-right: .5em;
                            vertical-align: text-bottom;
                        }
                    }
                }
            }

            .btn-toquest {
                a {
                    width: 8em;
                    display: block;
                    text-align: center;
                }
            }
        }

        &.active-sp {
            width: 100%;
            height: 100%;
            padding: 5% 10% 3%;
            background: rgba($color: #000000, $alpha: 0.8);
            box-sizing: border-box;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: scroll;
            visibility: visible;
            box-sizing: border-box;
            z-index: 20;

            @include bp {
                padding: 4.5em 4%;
            }

            .logo-sp {
                margin-bottom: 1.5em;
                text-align: center;
                display: block;

                @include bp {
                    margin-bottom: 2em;
                    padding: 7% 4% 3%;
                }

                img {
                    width: 350px;

                    @include bp {
                        width: 280px;
                    }
                }
            }

            .r-function-block {
                width: auto;
                display: block;
                background: none !important;

                .fontSize {
                    display: none;
                }

                .btn-lang {
                    margin-bottom: 1.5em;
                    justify-content: center;

                    li {
                        font-size: 1.6rem;

                        @include bp {
                            font-size: 1.3rem;
                        }

                        a {
                            color: #FFF;
                        }
                    }
                }

                .btn-search {
                    margin: 0 10%;

                    @include bp {
                        margin: 0;
                    }

                    fieldset {
                        border: 1px solid #FFF;

                        a {
                            color: $color-text;
                            padding: 0.6em 1em;
                            background: #FFF;
                        }
                    }
                }

                .btn-toquest {
                    text-align: center;

                    a {
                        color: #FFF;
                        font-size: 1.6rem;
                        width: auto;
                        margin: 1em 0;
                        display: inline-block;
                        text-decoration: underline;
                    }
                }
            }

            #navi {
                width: auto;
                margin-bottom: 5%;

                @include bp {
                    width: 100%;
                    margin: 0;
                    order: 1;
                }

                ul {
                    display: block;

                    li {
                        a {
                            color: #FFF;
                            font-size: 1.7rem;
                            padding: 0.8em 0.5em;
                            border: none;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                            display: block;

                            &:after {
                                content: "";
                                width: 0.7em;
                                height: 0.7em;
                                border-bottom: 1px solid #FFF;
                                border-right: 1px solid #FFF;
                                display: inline-block;
                                vertical-align: middle;
                                position: absolute;
                                right: 1em;
                                left: auto;
                                bottom: auto;
                                top: 50%;
                                transform: translate(0, -50%) rotateZ(-45deg);
                            }
                        }

                        &:first-child {
                            border-top: 1px solid rgba(255, 255, 255, 0.3);
                        }
                    }
                }
            }
        }

        @include bp {
            .wrap-sp-navi-in {
                display: flex;
                flex-wrap: wrap;

                .r-function-block {
                    width: 100%;
                    order: 2;
                }
            }
        }

    }

    &.top-h {
        padding: 0;
        background: none;

        @include bp {
            padding: 1em;
            background: #FFF;
        }

        .logo-h {
            a {
                width: auto;
                background: #FFF;
                padding: 4em 3em 3em;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;

                @include bp {
                    width: 17%;
                    padding: 3% 0;
                    box-sizing: border-box;

                    img {
                        width: 40%;
                    }
                }

                @include bp {
                    width: 70%;
                    position: static;
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .wrap-sp-navi {
            display: block;

            @include bp {
                display: none;
            }

            .r-function-block {
                width: 100%;
                padding: 1em;
                background: #FFF;
                box-sizing: border-box;
            }
        }
    }
}

body.fixed {
    @include bp {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

/*　スマホボタン　*/

.btn-menu {
    display: none;

    @include bp {
        width: 3em;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 3%;
        z-index: 25;
        transform: translateY(-50%);
    }

    >.btn-s {
        padding: 0.3em 0.4em 0.4em 0.4em;
        display: block;
        background: #000;
        text-align: center;

        div {
            position: relative;
            width: 28px;
            height: 19px;
            display: inline-block;
            vertical-align: middle;

            span {
                display: inline-block;
                transition: all .4s;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #FFF;
                border-radius: 2em;

                &:nth-of-type(1) {
                    top: 0;
                }

                &:nth-of-type(2) {
                    top: 9px;
                }

                &:nth-of-type(3) {
                    bottom: 0;
                }

                &:nth-of-type(2)::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: #FFF;
                    transition: all .4s;
                }
            }
        }

        &.open {
            span {
                background-color: #FFF;

                &:nth-of-type(1) {
                    transform: translateY(20px) scale(0);
                }

                &:nth-of-type(2) {
                    transform: rotate(-45deg);
                }

                &:nth-of-type(2)::after {
                    transform: rotate(90deg);
                    background-color: #FFF;
                }

                &:nth-of-type(3) {
                    transform: translateY(-20px) scale(0);
                }
            }
        }

        p {
            color: #FFF;
            font-size: 0.8em;
            line-height: 1;
            width: 100%;
            background: none;
            border: none;
            display: inline-block;
            letter-spacing: 0;
        }
    }
}